<a href="https://colab.research.google.com/github/fiqhrimuliandaputra/Similarity-Data/blob/main/Similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files

uploaded = files.upload()
df_data = pd.read_excel(uploaded['datadoc.xlsx'])
print(df_data.shape[0])
df_data.head()

Saving datadoc.xlsx to datadoc (2).xlsx
16

                                                   a
0  nasi dingin, labu kuning, kentang, jagung, bay...
1  nasi, wortel, bayam, jagung, labu kuning, kald...
2  oat, air, jagung pipil, kangkung, sereh, daun ...
3  nasi, air, jagung manis, singkong, serai, gara...
4  nangka, santan, bawang merah, bawang putih, ja...

In [ ]:
doc_1 = df_data('a'[0])
doc_1

TypeError: ignored

In [ ]:
doc_1 = "beras, kelapa, ikan saus, ikan asin, serundeng, cabai perkedel, cabai merah keriting, rawit"
doc_2 = "beras, daging sapi, serundeng, telur rebus, irisan kentang"
doc_3 = "beras, kelapa, ikan saus, ikan asin, serundeng, cabai perkedel, cabai merah keriting, rawit"

data = [doc_1, doc_2, doc_3]
data

['beras, kelapa, ikan saus, ikan asin, serundeng, cabai perkedel, cabai merah keriting, rawit',
 'beras, daging sapi, serundeng, telur rebus, irisan kentang',
 'beras, kelapa, ikan saus, ikan asin, serundeng, cabai perkedel, cabai merah keriting, rawit']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
vector_matrix = count_vectorizer.fit_transform(data)
vector_matrix

<3x17 sparse matrix of type '<class 'numpy.int64'>'
	with 30 stored elements in Compressed Sparse Row format>

In [ ]:
tokens = count_vectorizer.get_feature_names()
tokens

['asin',
 'beras',
 'cabai',
 'daging',
 'ikan',
 'irisan',
 'kelapa',
 'kentang',
 'keriting',
 'merah',
 'perkedel',
 'rawit',
 'rebus',
 'sapi',
 'saus',
 'serundeng',
 'telur']

In [ ]:
vector_matrix.toarray()

array([[1, 1, 2, 0, 2, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1],
       [1, 1, 2, 0, 2, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0]])

In [ ]:
import pandas as pd

def create_dataframe(matrix, tokens):

    doc_names = [f'doc_{i+1}' for i, _ in enumerate(matrix)]
    df = pd.DataFrame(data=matrix, index=doc_names, columns=tokens)
    return(df)

In [ ]:
result = create_dataframe(vector_matrix.toarray(),tokens)

In [ ]:
result.to_csv(r'Datagabung.csv', index=False)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['doc_1','doc_2','doc_3'])

          doc_1     doc_2     doc_3
doc_1  1.000000  0.171499  1.000000
doc_2  0.171499  1.000000  0.171499
doc_3  1.000000  0.171499  1.000000

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

Tfidf_vect = TfidfVectorizer()
vector_matrix = Tfidf_vect.fit_transform(data)

tokens = Tfidf_vect.get_feature_names()
create_dataframe(vector_matrix.toarray(),tokens)

           asin     beras     cabai  ...      saus  serundeng     telur
doc_1  0.248405  0.192908  0.496809  ...  0.248405   0.192908  0.000000
doc_2  0.000000  0.228215  0.000000  ...  0.000000   0.228215  0.386401
doc_3  0.248405  0.192908  0.496809  ...  0.248405   0.192908  0.000000

[3 rows x 17 columns]

In [ ]:
cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix,['doc_1','doc_2','doc_3'])

          doc_1     doc_2     doc_3
doc_1  1.000000  0.088049  1.000000
doc_2  0.088049  1.000000  0.088049
doc_3  1.000000  0.088049  1.000000

In [ ]:
result1 = create_dataframe(vector_matrix.toarray(),tokens)

In [ ]:
result1.to_csv(r'Datagabungakhir.csv', index=False)